/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

#container {
    display: grid;
    grid-template: 150px auto / 250px auto;
    min-height: 100vh;
}

#header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
}

#userinfo-grid {
    display: grid;
    grid-template: 1fr 2fr / auto 1fr
}

#userinfo-avatar {
    grid-area: 1 / 1 / 3 / 2;
}

#greeting {
    grid-area: 1 / 2 / 2 / 3;
}

#user-name-at-handle {
    grid-area: 2 / 2 / 3 / 3;
}

#sidebar {
    background-color: #3b82f6;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    gap: 50px;
    align-content: start;
    color: white;
    padding: 10px;
}

#sidebar span {
    font-weight: bold;
    font-size: larger;
}

#branding span {
    font-size: x-large;
} 

#main-content {
    background-color: #e2e8f0;
    grid-area: 2 / 2 / 3 / 3;
    min-width: 400px;
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    padding: 20px;
}

#mainnav, #secondarynav {
    padding: 10px;
}


.navitem {
    padding: 10px;
}

#projects {
    grid-area: 1 / 1 / 3 / 2;
}

#project-cards {
    display: grid;
    grid-auto-rows: min(200px, auto);
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-right: 20px;
}

#projects .card {
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-icons {
    text-align: right;
}

#announcements {
    grid-area: 1 / 2 / 2 / 3;
}

#announcement-cards {
    background-color: white;
    padding: 20px;
    display: grid;
}

#trending {
    grid-area: 2 / 2 / 3 / 3;
}

#trending-cards {
    background-color: white;
    padding: 20px;
    display: grid;
    gap: 20px;
}

#trending-cards .card {
    display: grid;
    grid-template: 50% 50% / auto 1fr;
}

#trending-cards .card .avatar {
    grid-area: 1 / 1 / 3 / 2;
}

img {
    width: 20px;
    height: 20px;
}

#sidebar img, .invert {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

#branding img, #trending img, .bigicon {
    width: 40px;
    height: 40px;
}

.mediumicon {
    width: 30px;
    height: 30px; 
}

.navitem {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 20px;


}

#main-content .header {
    font-weight: bold;
    font-size: larger;
}

.card-icons img {
    padding-left: 20px;
}

#projects .card, #announcement-cards, #trending-cards {
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgrey;
}

#announcement-cards .card-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}

#announcement-cards .card-description {
    font-size: 12px;
    color: #4b5563;
    padding: 0;
    margin-top: 5px;
}

#announcement-cards .lastcard {
    border-bottom: none
}

#announcement-cards div {
    border-bottom: lightgrey solid 1px
}

#projects .card .card-header {
    font-weight: bold;
    margin-bottom: 0;
}

#projects .card .card-description {
    margin-top: 5px;
}

#projects .card {
    border-left: orange solid 10px;
}